/*.gradient-bg {*/
/*    background: linear-gradient(45deg, rgb(6, 7, 24) 0%, 34.6531%, rgb(128, 11, 54) 69.3061%, 84.6531%, rgb(158, 7, 42) 100%);*/
/*}*/

html,
body {
	height: 100dvh;
}

/*body {*/
/*    background: linear-gradient(45deg, rgb(6, 7, 24) 0%, 34.6531%, rgb(128, 11, 54) 69.3061%, 84.6531%, rgb(158, 7, 42) 100%);*/
/*}*/

.nav-bar-glass {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	/*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

.container-cont {
	padding-left: 3rem;
	padding-right: 3rem;
}

@media (max-width: 768px) {
	.container-cont {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.footer-background {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-top: 1px solid rgba(255, 255, 255, 0.125);
}

.glass-border {
	border: 1px solid rgba(255, 255, 255, 0.125);
}

/** {*/
/*    outline: 1px solid red;*/
/*}*/
