/*.gradient-bg {*/
/*    background: linear-gradient(45deg, rgb(6, 7, 24) 0%, 34.6531%, rgb(128, 11, 54) 69.3061%, 84.6531%, rgb(158, 7, 42) 100%);*/
/*}*/

html, body {
    height: 100dvh;
}

/*body {*/
/*    background: linear-gradient(45deg, rgb(6, 7, 24) 0%, 34.6531%, rgb(128, 11, 54) 69.3061%, 84.6531%, rgb(158, 7, 42) 100%);*/
/*}*/

.nav-bar-glass {
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}
