/*.gradient-bg {*/
/*    background: linear-gradient(45deg, rgb(6, 7, 24) 0%, 34.6531%, rgb(128, 11, 54) 69.3061%, 84.6531%, rgb(158, 7, 42) 100%);*/
/*}*/

html,
body {
	height: 100dvh;
}

/*body {*/
/*    background: linear-gradient(45deg, rgb(6, 7, 24) 0%, 34.6531%, rgb(128, 11, 54) 69.3061%, 84.6531%, rgb(158, 7, 42) 100%);*/
/*}*/

.nav-bar-glass {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	/*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

.container-cont {
	padding-left: 3rem;
	padding-right: 3rem;
}

@media (max-width: 768px) {
	.container-cont {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.footer-background {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-top: 1px solid rgba(255, 255, 255, 0.125);
}

.glass-border {
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.nav-bar-link {
	position: relative;
}

.nav-bar-link:before {
	content: "";
	position: absolute;

	/*top: -20px;*/
	top: 0px;
	bottom: 0px;
	left: -20px;
	right: -20px;

	opacity: 0;

	transition: opacity 0.3s ease-in-out;
	z-index: -1;
	background: linear-gradient(90deg, #f8ad1f, #e22834, #1f8eb9, #68b85b);
	filter: blur(10px);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav-bar-link:hover:before {
	opacity: 1;
}

.swiper{
	width: 100%;
	height: 100dvh;

}

.swiper-wrapper {
    width: 100%;
    height: 100dvh;

    
}
.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}