@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes flash-bg {
    0%,
    100% {
        background-color: rgb(220, 38, 38); /* red-600 */
    }
    50% {
        background-color: rgb(185, 28, 28); /* red-700 */
    }
}

@keyframes flash-bg-amber {
    0%,
    100% {
        background-color: rgb(234, 167, 38); /* red-600 */
    }
    50% {
        background-color: rgb(211, 149, 33); /* red-600 */
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}

.animate-flash-bg {
    /*animation: flash-bg 1.5s ease-in-out infinite;*/
}
.animate-flash-bg-amber {
    animation: flash-bg-amber 1.5s ease-in-out infinite;
}
